*.iml
*.ipr
*.iws
*~
.DS_Store
.dm/
.idea/
.idea_modules/
._*
/.classpath
/.mvn/maven.config
/.mvn/local-settings.xml
/.project
/.settings/
/bin/
/logs/
/nbactions.xml
/nb-configuration.xml
/out/
/target/
/work/
Thumbs.db
