### Auto detect text files
*            text=auto

### Special diffing for these extensions
*.html       text diff=html
*.java       text diff=java
*.md         text diff=markdown

### File-based Maven remote repository
/lib/**      binary
